.itemcard {
    color: rgb(186, 227, 36);
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.itemcarditem {
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    padding: 6px;

}

.itemcard label {
    font-size: 15px;
    font-family: "Rubik";
    color: rgb(42, 200, 239);
}

.itemcard span {
    font-size: 12px;
}