.itemcard {
    color: rgb(217, 196, 231);
    width: 100%;
    border: 2px solid rgb(226, 226, 217);
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, rgba(228, 187, 21, 0.504), rgba(92, 11, 74, 0.586));
    cursor: pointer;
    transition: all 0.4s;

}

.itemcard:hover {
    /* transform: rotateY(180deg); */
    transform: scaleY(1.1) scaleX(1.1);
    /*   transform: translateY(-3px); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.itemcard:active {
    transform: translateY(-1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .5);
}

.itemcarditem {
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    padding: 6px;

}

.itemcard label {
    font-size: 15px;
    font-family: "Rubik";
    color: rgb(33, 182, 241);
}

.itemcard span {
    font-size: 12px;
}